[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "external/LibrosaCpp"]
	path = external/LibrosaCpp
	url = https://github.com/ewan-xu/LibrosaCpp.git
[submodule "external/signalsmith-stretch"]
	path = external/signalsmith-stretch
	url = https://github.com/Signalsmith-Audio/signalsmith-stretch.git