[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "external/Gist"]
	path = external/Gist
	url = https://github.com/adamstark/Gist.git
[submodule "external/kd-tree"]
	path = external/kd-tree
	url = https://github.com/gishi523/kd-tree.git
[submodule "external/tinyosc"]
	path = external/tinyosc
	url = https://github.com/mhroth/tinyosc.git
[submodule "external/tinyfiledialogs-code"]
	path = external/tinyfiledialogs-code
	url = https://github.com/native-toolkit/libtinyfiledialogs.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/libsamplerate"]
	path = external/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "external/kissfft"]
	path = external/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "external/LibrosaCpp"]
	path = external/LibrosaCpp
	url = https://github.com/ewan-xu/LibrosaCpp.git
