notarization_secrets.env
release/
*.zip
*.dmg
*.pkg
*.exe

.DS_Store

*.a
*.d
*.o
*.so
*.c.d
*.c.o
*.cpp.d
*.cpp.o

build/
bin/

CMakeFiles
CMakeCache.txt
CMakeScripts

.cache/

include/
lib/

*.onnx
*.ort

cppcheck-report.xml
cppcheck-html/

.ipynb_checkpoints/
