[submodule "external/Gist"]
	path = external/Gist
	url = https://github.com/adamstark/Gist.git
[submodule "external/kd-tree"]
	path = external/kd-tree
	url = https://github.com/gishi523/kd-tree.git
[submodule "DPF"]
	path = DPF
	url = https://github.com/DISTRHO/DPF.git
